body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #212121;
}
.selector-for-some-widget {
box-sizing: content-box;
}
.menu {
width: 35%;
background-color: #00BCD4;
padding: 25px;
}

div {
margin: 0 auto;
font-size: 130%;
}
div#data {
margin: 50px auto 0 auto;
font-size: 70%;
text-align: center;
}